<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCANxvEZrRzXmLFhVJTKNNCvr0Yibe6wrs</string>
	<key>GCM_SENDER_ID</key>
	<string>729236686861</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.raeyoungkim.YourPlanner</string>
	<key>PROJECT_ID</key>
	<string>yourplanner-6edb0</string>
	<key>STORAGE_BUCKET</key>
	<string>yourplanner-6edb0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:729236686861:ios:45eec364b5d7332d70ed44</string>
</dict>
</plist>